
    /* En CSS
    ajouter un commentaire
    sur plusieurs lignes */
       

p, h1, h2, body {
    color: #348781;
    font-family: 'Questrial', sans-serif;
}

.TitreUltime {
    color: #fc052e;
    font-size: 60px;
    font-weight: bold;
}



