
nav {
    height: 50px; /* Hauteur de la navbar */
    position: fixed; /* Fixe la navbar en haut de la page */
    top: 0; /* Positionnée en haut de la fenêtre */
    left: 0; /* Alignée à gauche de la fenêtre */
    width: 100%; /* S'étend sur toute la largeur de l'écran */
    background-color: #10598a; /* Couleur de fond, identique à celle du footer */
    color: rgb(43, 159, 236); /* Couleur du texte, identique à celle du footer */
    text-align: center; /* Texte centré */
    opacity: 0.9; /* Définit l'opacité  */
    z-index: 1000; /* S'assure que la navbar est au-dessus des autres éléments */
}

/* Style pour les menus déroulants */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style pour le contenu des menus déroulants */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Couleur de fond pour le contenu déroulant */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style pour les liens à l'intérieur du contenu déroulant */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Affiche le contenu déroulant au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style pour les boutons déroulants */
.dropbtn {
    background-color: inherit; /* Utilise la couleur de fond de la barre de navigation */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style pour la barre de navigation */
nav {
    /* Vos styles existants pour la navbar */
    display: flex; /* Utilisez Flexbox pour aligner les éléments */
    justify-content: space-between; /* Sépare les éléments sur les côtés opposés */
}

/* Style pour les éléments de navigation à gauche */
nav .navbar-left {
    display: flex;
}

/* Style pour le bouton Connect Your Wallet sur la droite */
nav .connect-wallet {
    /* Vous pouvez ajouter des styles spécifiques pour ce bouton si nécessaire */
}
